Checks: "*,\
  -fuchsia-*,\
  -google-*,\
  -zircon-*,\
  -abseil-*,\
  -llvm*,\
  -modernize-use-trailing-return-type,\
  -modernize-deprecated-headers,\
  -readability-avoid-const-params-in-decls,\
  -readability-convert-member-functions-to-static, \
  -readability-uppercase-literal-suffix, \
  -readability-redundant-access-specifiers, \
  -altera-*, \
  -cppcoreguidelines-pro-bounds-constant-array-index, \
  -hicpp-uppercase-literal-suffix, \
  -readability-identifier-length, \
  -cppcoreguidelines-explicit-virtual-functions, \
  -readability-function-cognitive-complexity, \
  -cppcoreguidelines-non-private-member-variables-in-classes, \
  -misc-non-private-member-variables-in-classes, \
  -modernize-use-auto, \
  -hicpp-use-auto"

CheckOptions:
- key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
  value: true
- key: readability-magic-numbers.IgnorePowersOf2IntegerValues
  value: true
- key: cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
  value: true
