Build*/
build*/

.cache
.vs
.idea
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out

out/

assets/
Notes.md
.vscode/
r&d/
CMakeSettings.json
compile_commands.json 
